---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Connect | ar1tra">
	<main>
		<header class="flex gap-2 text-sm text-gray-500">
			<a href="https://x.com/ar1tra" target="_blank" rel="noopener noreferrer">Twitter</a>
			<span>//</span>
			<a href="https://github.com/aritraghose" target="_blank" rel="noopener noreferrer">GitHub</a>
			<span>//</span>
			<a href="https://www.linkedin.com/in/aritraghose/" target="_blank" rel="noopener noreferrer">LinkedIn</a>
			<span>//</span>
			<a href="mailto:ar1tragh05e9@gmail.com" target="_blank" rel="noopener noreferrer">Email</a>
			<span>//</span>
			<a href="https://www.facebook.com/ar1tra" target="_blank" rel="noopener noreferrer">Facebook</a>
			<span>//</span>
			<a href="https://www.instagram.com/ar1tra_g/" target="_blank" rel="noopener noreferrer">Instagram</a>
			<span>//</span>
			<a href="https://www.threads.com/@ar1tra_g" target="_blank" rel="noopener noreferrer">Threads</a>
		</header>
	</main>
</Layout>
