---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Posts | ar1tra">
	<main>
		<h1 class="text-lg font-medium text-gray-900">Posts</h1>
		<p class="mt-4 text-gray-600">I have written nothing yet.</p>
	</main>
</Layout>
